body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 2vw;
}

.newTaskContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
}

.taskInput {
    margin: 0 12px 0 12px;
    height: 56px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: lightgrey;
    min-width: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 28px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: 56px;
}

button.taskButton {
    height: 56px;
    width: 70px;
    border-radius: 8px;
    border: none;
    background-color: lightgrey;
    cursor: pointer;
}

.taskContainer {
    display: flex;
    margin: 20px 0 20px 0;
    justify-content: center;
    text-align: middle;
}

.task {
    display: flex;
    margin: 0 12px 0 26px;
    height: 56px;
    border-radius: 8px;
    align-items: center;
    border: none;
    background-color: lightgrey;
    width: calc(50vw - 20px);
    padding-left: 15px;
}

.edit, .delete {
    height: 56px;
    margin-right: 12px;
    border-radius: 8px;
    border: none;
    background-color: lightgrey;
    width: 70px;
    cursor: pointer;
}

.delete {
    background-color: lightcoral;
}

input[type="checkbox"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    cursor: pointer;
    height: 20px;
    -webkit-appearance: none;
    background-color: darkgray;
    border-radius: 4px;
    content: "\f00c";
}

input[type="checkbox"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    content: "\f00c";
    color:white;
    display: none;
}

input[type="checkbox"]:checked {
    background-color: green;
}

input[type="checkbox"]:checked::after {
    display:block;
}

.checkContainer {
    background-color: lightgrey;
    border-radius: 8px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.finished-checkContainer {
    background-color: lightgreen;
    border-radius: 8px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.finished-task {
    display: flex;
    margin: 0 12px 0 26px;
    height: 56px;
    border-radius: 8px;
    align-items: center;
    border: none;
    background-color: lightgreen;
    width: calc(50vw - 20px);
    padding-left: 15px;
    text-decoration: line-through;
    transition: all 300ms ease-in-out;
}

.finished-edit {
    height: 56px;
    margin-right: 12px;
    border-radius: 8px;
    border: none;
    background-color: lightgreen;
    width: 70px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popTitle {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 20px;
    padding-top: 5px;
}

#popDelete, #popCancel, #popConfirm, #popCancel2 {
    height: 56px;
    margin-right: 12px;
    border-radius: 8px;
    border: none;
    width: 90px;
    cursor: pointer;
}

#popDelete {
    background-color: lightcoral;
}

#popConfirm {
    background-color: lightgreen;
}

#popCancel, #popCancel2 {
    background-color: lightgray;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    width: 30vw;
    height: 20vh;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
}

#popup-2 .content{
    height: 30vh;
}

#editInput {
    margin-bottom: 15px;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1)
}